<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.mesa.plus" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MESA Plus</name>
  <description>
    MESA Plus Card
  </description>
  <author email="info@mesa.ca" href="http://www.mesa.ca/">
    MESA at UTSC
  </author>
  <platform name="android">
    <!--
        ldpi    : 36x36 px
        mdpi    : 48x48 px
        hdpi    : 72x72 px
        xhdpi   : 96x96 px
        xxhdpi  : 144x144 px
        xxxhdpi : 192x192 px
    -->
    <icon src="drawable/res/mipmap-ldpi/ic_launcher.png" density="ldpi" />
    <icon src="drawable/res/mipmap-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="drawable/res/mipmap-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="drawable/res/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
    <icon src="drawable/res/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="drawable/res/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    <icon src="drawable/web_hi_res.png" width="512" height="512" />
  </platform>
  <platform name="ios">
    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->
    <icon src="drawable/res/ios/Icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="drawable/res/ios/Icon-60.png" width="60" height="60" />
    <icon src="drawable/res/ios/Icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="drawable/res/ios/Icon-76.png" width="76" height="76" />
    <icon src="drawable/res/ios/Icon-76@2x.png" width="152" height="152" />
    <icon src="drawable/res/ios/Icon-72.png" width="72" height="72" />
    <icon src="drawable/res/ios/Icon-72@2x.png" width="144" height="144" />
    <!-- Spotlight Icon -->
    <icon src="drawable/res/ios/Icon-40.png" width="40" height="40" />
    <icon src="drawable/res/ios/Icon-40@2x.png" width="80" height="80" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="drawable/res/ios/Icon-Small.png" width="29" height="29" />
    <icon src="drawable/res/ios/Icon-Small@2x.png" width="58" height="58" />
    <icon src="drawable/res/ios/Icon-Small@3x.png" width="87" height="87" />
    <icon src="drawable/res/ios/Icon-Small-50.png" width="50" height="50" />
    <icon src="drawable/res/ios/Icon-Small-50@2x.png" width="100" height="100" />

    <icon src="drawable/res/ios/Icon.png" width="57" height="57" />
    <icon src="drawable/res/ios/Icon@2x.png" width="114" height="114" />
    <icon src="drawable/res/ios/Icon@3x.png" width="171" height="171" />

    <icon src="drawable/res/ios/Icon-16.png" width="16" height="16" />
    <icon src="drawable/res/ios/Icon-24.png" width="24" height="24" />
    <icon src="drawable/res/ios/Icon-32.png" width="32" height="32" />
    <icon src="drawable/res/ios/Icon-64.png" width="64" height="64" />

    <icon src="drawable/res/ios/iTunesArtwork.png" width="512" height="512" />
    <icon src="drawable/res/ios/iTunesArtwork@2x.png" width="1024" height="1024" />
  </platform>
  <access origin="http://api.mesa.ca" />>
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
</widget>
